.user{
  margin-top: 10px;
  margin-left: 50%;
  width: 100%;
}

table{
  width: 100%;
}

.table_header{
  margin-top: 10px;
  margin-left: 570px;
}

.content{
  margin-top: 10px;
  margin-left: 150px;
}

.btn{
  margin-left: 980px;
}
