<section class="table_header">
  <h2>Liste des produits livrés</h2>
</section>
<div *ngIf="produits" class="content">
  <div class="search">
    <div class="form">
      <form #f="ngForm" (ngSubmit)="onChearch(f.value)">
        <div class="form-group">
          <input type="number" ngModel name="keyword" class="form-control phone" placeholder="le numrero du client">
          <button class="btn btn-outline-info chr">
            <span class="fa fa-search"></span>
          </button>
        </div>
      </form>
    </div>
    <div class="addbtn">
      <p class="inutile" ></p>
    </div>
  </div>

  <table class="table table-striped">
    <thead class="thead-dark">
    <tr>
      <th>id</th><th>client</th><th>livré</th><th>date de creation</th><th>modification</th><th>prix total</th><th>action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let p of produits">
      <td>{{p.id}}</td>
      <td>{{p.client.firstName}}</td>
      <td>{{p.livre}}</td>
      <td>{{p.creationDate  | date: "dd/MM/yy"}}</td>
      <td>{{p.lastUpdatedDate  | date: "dd/MM/yy"}}</td>
      <td>{{p.prixTotal}} FCFA</td>
      <th>
        <i class="fa fa-pencil-square-o btn-primary" (click)="edit(p)" aria-hidden="true"></i>
      </th>
    </tr>
    </tbody>
  </table>

  <div *ngIf="!produits.length" class="liste">
    <p>la liste est vide</p>
  </div>
</div>

