.content{
  margin-top: 55px;
  margin-left: 280px;
  border-radius: 2px;
  border-width: 1px;
  border-color: #1c1a1a;
  border-style: double;
  padding: 35px;
}

.title{
  text-align: center;
}

.check{
  margin-left: 10px;
  border-radius: unset;
  padding: 15px;
}
