
.user{
  margin-top: 30px;
  margin-left: 50%;
  width: 100%;
}

table{
  width: 100%;
}

.table_header{
  margin-top: 10px;
  margin-left: 570px;
}

.content{
  margin-top: 10px;
  margin-left: 150px;
}

.btn{
  margin-left: 980px;
}

.btn-outline-info{
  margin: unset!important;
}

.search{
  display: flex;
}


.info{
  left: 30px;
}

.addbtn{
  margin-top: 15px!important;
}

.form-group{
  display: flex;
}

.phone{
  width: 200px;
}

.chr{
  padding: 0.1rem!important;
}

.liste{
  display: flex;
  justify-content: center;
  margin-top: 10px;
  align-items: center;
}




