<section class="table_header">
  <h2>Liste des utilisateurs</h2>
</section>


<div *ngIf="utilisateurs" class="content">
  <div class="addbtn">
      <button class="btn btn-primary" routerLink="/newuser">new</button>
  </div>
  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th>id</th><th>nom</th><th>prenom</th><th>email</th><th>date de naissance</th><th>creation</th><th>modification</th><th>status</th><th>action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let u of utilisateurs">
        <td>{{u.id}}</td>
        <td>{{u.name}}</td>
        <td>{{u.prenom}}</td>
        <td>{{u.email}}</td>
        <td>{{u.dateDeNaissance | date: "dd/MM/yy"}}</td>
        <td>{{u.creationDate  | date: "dd/MM/yy"}}</td>
        <td>{{u.lastUpdateDate  | date: "dd/MM/yy"}}</td>
        <td>{{u.statut}}</td>
        <th>
          <i class="fa fa-pencil-square-o btn-primary" (click)="onGetUtlisateur(u)" aria-hidden="true"></i>
<!--          |-->
<!--          <i class="fa fa-trash btn-danger"  aria-hidden="true"></i>-->
        </th>
      </tr>
    </tbody>
  </table>
</div>
